version: "3.8"
services:
  web-ui:
    environment:
      - "INVENIO_THEME_SHOW_FRONTPAGE_INTRO_SECTION=False"
      - "INVENIO_THEME_FRONTPAGE_TITLE=InvenioRDM Demo Repository"
      - "INVENIO_THEME_LOGO=images/invenio-rdm.svg"
